  server { # nquire
    listen       80;
    server_name  example.com;
    access_log   /logs/main.access.log  main;
    index index.html;
    root         /nquire;
    location / {
      autoindex on;
      alias   /nquire/;
    }
    location ~* ^\/(es|fr|el)$ {
      default_type text/html;
      alias /nquire/index.html;
    }
    location /api {
      proxy_set_header    Host $http_host;
      proxy_set_header    X-Real-IP $remote_addr;
      proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_redirect      off;
      proxy_read_timeout  300;
      proxy_pass      http://nquire:8080;
    }
    location /lrs {
      proxy_set_header    Host $http_host;
      proxy_set_header    X-Real-IP $remote_addr;
      proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_redirect      off;
      proxy_read_timeout  300;
      proxy_pass      http://nquire:8080;
    }
    location /spring_security_login {
      proxy_set_header    Host $http_host;
      proxy_set_header    X-Real-IP $remote_addr;
      proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_redirect      off;
      proxy_read_timeout  300;
      proxy_pass      http://nquire:8080;
    }
    location /social {
      proxy_set_header    Host $http_host;
      proxy_set_header    X-Real-IP $remote_addr;
      proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_redirect      off;
      proxy_read_timeout  300;
      proxy_pass      http://nquire:8080;
    }
  }

  server { # sentry
    listen       80;
    server_name  sentry.example.com;
    access_log   /logs/sentry.access.log  main;

    location / {
      proxy_pass      http://sentry:9000;
    }
  }

  server { #lrs
    listen      80;
    server_name lrs.example.com;
    access_log  /logs/lrs.access.log  main;

    location / {
      proxy_pass    http://lrs:8080;
    }
  }
