SECRET_KEY=
SENTRY_URL_PREFIX=http://example.com
DATABASE_URL=postgres://user:pwd@postgres/dbname
SENTRY_ADMIN_USERNAME=
SENTRY_ADMIN_PASSWORD=
SENTRY_ADMIN_EMAIL=
SENTRY_INITIAL_TEAM=
SENTRY_INITIAL_PROJECT=
SENTRY_INITIAL_KEY=public:secret
SENTRY_USE_REDIS_TSDB=True
