<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/nquireit.properties"/>
        <property name="searchSystemEnvironment" value="true" />
    </bean>
    
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="queueCapacity" value="25" />
    </bean>
    
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.greengin.nquireit.utils.AppDetails.setAppDetails"/>
        <property name="arguments">
            <list>
                <value>${app.url}</value>
                <value>http://lrs:8080/xAPI</value>
                <value>${LRS_ADMIN_NAME}</value>
                <value>${LRS_ADMIN_PASS}</value>
                <value>mail</value>
                <value>${mail.sender}</value>
                <value>${mail.name}</value>
            </list>
       </property>
    </bean>

    <import resource="nquireit.xml"/>

</beans>